extends ../layout

block content
  .page-header
    h3 Profile Information

  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-2.control-label(for='email') Email
      .col-sm-4
        input.form-control(type='email', name='email', id='email', value='#{user.email}')
    .form-group
      label.col-sm-2.control-label(for='name') Name
      .col-sm-4
        input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
    .form-group
      label.col-sm-2.control-label(for='gender') Gender
      .col-sm-4
        label.radio
          input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
          span Male
        label.radio
          input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
          span Female
    input(id = 'whoareu' type='hidden', name='whoareu', value='#{user.whoareyou}')
    if user.whoareyou=='candidate' 
      .form-group
        label.col-sm-2.control-label(for='website') Website
        .col-sm-4
          input.form-control(type='text', name='website', id='website', value='#{user.profile.website}')
      .form-group
        label.col-sm-2.control-label(for='title') Title
        .col-sm-4
          input.form-control(type='text', name='title', id='title', value='#{user.profilesummary.title}')
      .form-group
        label.col-sm-2.control-label(for='specialization') Specialization
        .col-sm-4
          input.form-control(type='text', name='specialization', id='specialization', value='#{user.profilesummary.specialization}')
      .form-group
        label.col-sm-2.control-label(for='skills') Skills
        .col-sm-4
          input.form-control(type='text', name='skills', id='skills', value='#{user.profilesummary.skills}')
      .form-group
        label.col-sm-2.control-label(for='location') Location
        .col-sm-4
          input.form-control(type='text', name='location', id='location', value='#{user.profilesummary.location}')
      .form-group
        label.col-sm-2.control-label(for='workHistory') Work History
        .col-sm-4
      .form-group
        .input_container
          each val,index in user.workdetails.work
            div
              label.col-sm-2.control-label(for='company_name') Company :
              textarea#company.add_input(name='company_name', rows='1', cols='40', placeholder='Company Name')=val.company_name
              button.deleteWork(type='button')='Delete Work Experience'
              br
              br
              label.col-sm-2.control-label(for='job_title') Job Title :
              textarea#job_title.add_input1(name='job_title', rows='1', cols='40', placeholder='Job Title')=val.job_title
              br
              br
              label.col-sm-2.control-label(for='role') Summary :
              textarea#role.add_input2(name='role', rows='4', cols='40', placeholder='Elaborate on your contribution to different projects and role')=val.role
              br
              br

          input.add_button(type = 'button' value = 'ADD Another work item' id = 'addButton')
          input(id = 'workCount' type='hidden', name='workCount', value='#{user.workdetails.work.length}')

        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script.
          var count = $('#workCount').val();
          function appendHtml(){
            $('.add_button').before('<div><label for="company_name" class="col-sm-2 control-label">Company :</label><textarea id="company" name="company_name" rows="1" cols="40" placeholder="Company Name" class="add_input"></textarea><button type="button" class="deleteWork">Delete Work Experience</button><br/><br/><label for="job_title" class="col-sm-2 control-label">Job Title :</label><textarea id="job_title" name="job_title" rows="1" cols="40" placeholder="Job Title" class="add_input1"></textarea><br/><br/><label for="role" class="col-sm-2 control-label">Summary : </label><textarea id="role" name="role" rows="4" cols="40" placeholder="Elaborate on your contribution to different projects and role" class="add_input2"></textarea><br/><br/></div>' ) ;
          }
          //$(document).ready(appendHtml());
          $("#addButton").on("click",function()
          {
            $('#workCount').val(++count);
            appendHtml();
          });
          $(document.body).on("click",".deleteWork",function(){
            $('#workCount').val(--count);
            $(this).closest('div').remove();
            });
      .form-group
        .input_container
          each schoolval,schoolindex in user.schooldetails.education
            div
              label.col-sm-2.control-label(for='school') School :
              textarea#school.add_input(name='school', rows='1', cols='40', placeholder='School Name')=schoolval.school
              button.deleteSchool(type='button')='Delete School'
              br
              br
              label.col-sm-2.control-label(for='field') Field :
              textarea#field.add_input1(name='field', rows='1', cols='40', placeholder='Field')=schoolval.field
              br
              br
              label.col-sm-2.control-label(for='degree') Degree :
              textarea#degree.add_input2(name='degree', rows='4', cols='40', placeholder='Degree')=schoolval.degree
              br
              br
              label.col-sm-2.control-label(for='startdate') Start Date :
              textarea#startdate.add_input2(name='startdate', rows='4', cols='40', placeholder='Year')=schoolval.start_year
              br
              br
              label.col-sm-2.control-label(for='enddate') End Date :
              textarea#enddate.add_input2(name='enddate', rows='4', cols='40', placeholder='Year')=schoolval.end_year
              br
              br

          input.add_schoolbutton(type = 'button' value = 'ADD Another School' id = 'addSchoolButton')
          input(id = 'schoolCount' type='hidden', name='schoolCount', value='#{user.schooldetails.education.length}')

        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script.
          var scount = $('#schoolCount').val();
          function appendHtmlSchool(){
            $('.add_schoolbutton').before('<label for="school" class="col-sm-2 control-label">School :</label><textarea id="school" name="school" rows="1" cols="40" placeholder="School Name" class="add_input"></textarea><button type="button" class="deleteSchool">Delete School Experience</button><br/><br/><label for="field" class="col-sm-2 control-label">Field :</label><textarea id="field" name="field" rows="1" cols="40" placeholder="Field" class="add_input1"></textarea><br/><br/><label for="degree" class="col-sm-2 control-label">Degree : </label><textarea id="degree" name="degree" rows="4" cols="40" placeholder="Degree" class="add_input2"></textarea><br/><br/><label for="start_year" class="col-sm-2 control-label">Start Year : </label><textarea id="start_year" name="start_year" rows="4" cols="40" placeholder="Year" class="add_input3"></textarea><br/><br/><label for="end_year" class="col-sm-2 control-label">End Year : </label><textarea id="end_year" name="end_year" rows="4" cols="40" placeholder="Year" class="add_input4"></textarea><br/><br/>' ) ;
          }
          //$(document).ready(appendHtml());
          $("#addSchoolButton").on("click",function()
          {
            $('#schoolCount').val(++scount);
            appendHtmlSchool();
          });
          $(document.body).on("click",".deleteSchool",function(){
            $('#schoolCount').val(--scount);
            $(this).closest('div').remove();
            });
    else
      .form-group
        label(class='col-sm-2 control-label', for='company_name') Company Name
        .col-sm-8
          input.form-control(type='text', name='company_name', id='company_name', value='#{user.company.name}')
      .form-group
        label(class='col-sm-2 control-label', for='description') Description
        .col-sm-8
          input.form-control(name='description', id='description' value='#{user.company.description}')
      .form-group
        label(class='col-sm-2 control-label', for='website') Website
        .col-sm-8
          input.form-control(type='text', name='website', id='website', value='#{user.company.website}')
      .form-group
        label(class='col-sm-2 control-label', for='address') Address
        .col-sm-8
          input.form-control(type='text', name='address', id='address', value='#{user.company.address}')
      .form-group
        label(class='col-sm-2 control-label', for='phone') Phone No.
        .col-sm-8
          input.form-control(type='text', name='phone', id='phone', value='#{user.company.phone}')
      .form-group
        label(class='col-sm-2 control-label', for='contact_email') Contact Email
        .col-sm-8
          input.form-control(type='text', name='contact_email', id='contact_email', value='#{user.company.contact_email}')

    .form-group
      label.col-sm-2.control-label(for='gravatar') Gravatar
      .col-sm-4
        img(src="#{user.gravatar()}", class='profile', width='100', height='100')
    .form-group
      .col-sm-offset-2.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          span.ion-edit
          | Update Profile

  .page-header
    h3 Change Password

  form.form-horizontal(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='password') New Password
      .col-sm-4
        input.form-control(type='password', name='password', id='password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-4
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          span.ion-locked
          | Change Password

  .page-header
    h3 Delete Account

  p You can delete your account, but keep in mind this action is irreversible.
  form(action='/account/delete', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    button.btn.btn-danger(type='submit')
      span.ion-trash-b
      | Delete my account

  .page-header
    h3 Linked Accounts

  if user.google
    p: a.text-danger(href='/account/unlink/google') Unlink your Google account
  else
    p: a(href='/auth/google') Link your Google account

  if user.facebook
    p: a.text-danger(href='/account/unlink/facebook') Unlink your Facebook account
  else
    p: a(href='/auth/facebook') Link your Facebook account

  if user.github
    p: a.text-danger(href='/account/unlink/github') Unlink your GitHub account
  else
    p: a(href='/auth/github') Link your GitHub account

  if user.linkedin
    p: a.text-danger(href='/account/unlink/linkedin') Unlink your LinkedIn account
  else
    p: a(href='/auth/linkedin') Link your LinkedIn account
