extends layout

block content

    p.lead Let's see who's looking for you
    hr
    each job, index in jobs
      .col-lg-12
        #accordion.panel-group
          #panel1.panel.panel-info
            .panel-heading
              h4.panel-title
                a(
                  data-toggle='collapse',
                  data-target="#collapse#{index + 1}",
                  href="#collapse#{index + 1}"
                )
                  p #{job.job_title}
                div(id="#collapse#{index + 1}.panel-collapse.collapse.in")