extends layout

block content

    p.lead Let's see who's looking for you
    hr
    each job, index in jobs
      .col-xs-8
        #accordion.panel-group
          #panel1.panel.panel-info
            .panel-heading
              h4.panel-title
                a(
                  data-toggle='collapse',
                  data-target="#collapse#{index + 1}",
                  href="/job/#{job.job_id}"
                )
                  p #{job.job_title}, #{job.location}
                div(id="#collapse#{index + 1}.panel-collapse.collapse.in")