extends layout
head
  
block content
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId="+#{fb.clientID};
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    script(style="position: relative; float: right;" src='//platform.linkedin.com/in.js', type='text/javascript')
      lang: en_US
    p.lead Let's see who's looking for you
    hr
    each job in jobs
      .col-xs-8
        #accordion.panel-group
          #panel1.panel.panel-info
            .panel-heading
              h4.panel-title
                a(data-toggle='collapse', data-target='#{job.job_id}', href='#collapse#{job.job_id}')
                  div(id="#fb-root")
                    |  #{job.job_title}, #{job.location}
                    script(type='IN/Share', data-url='http://jraas.elasticbeanstalk.com/explore#collapse#{job.job_id}')
                    .fb-share-button(style="padding-right: 3px; position: relative; float: right;" data-href='http://jraas.elasticbeanstalk.com/explore#collapse#{job.job_id}', data-layout='button')
            |         
            div(id="#collapse#{job.job_id}").panel-collapse.collapse.in
              .panel-body
                | #{job.description}
          |      